body {
  margin: 0;
  padding: 0;
}

.slideshow {
  position: relative;
  width: 100vw; /* Vollbreite des Viewports */
  height: 100vh; /* Vollhöhe des Viewports */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* alle Slides ausblenden */
}

.slide.active {
  display: block; /* aktiven Slide einblenden */
}
