.slideshow {
  position: relative;
  width: 800px; /* Breite der Slideshow */
  height: 600px; /* Höhe der Slideshow */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* alle Slides ausblenden */
}

.slide.active {
  display: block; /* aktiven Slide einblenden */
}
